In [1]:
import numpy as np 
import pandas as pd

In [ ]:
IB09_df = pd.read_csv("datas/MYM/IB_MYM_1min_OHLCV-20240701-20240919.csv")
IB12_df = pd.read_csv("datas/MYM/IB_MYM_1min_OHLCV-20240923-20241030.csv")

In [5]:
SJ09_df = pd.read_csv("datas/UDF/SJ_下載07月01日-09月17日的UDF逐筆成交明細.csv")
SJ12_df = pd.read_csv("datas/UDF/SJ_下載09月17日-10月29日的UDF逐筆成交明細.csv")
SJ09_df["ts"] = pd.to_datetime(SJ09_df["ts"])
SJ12_df["ts"] = pd.to_datetime(SJ12_df["ts"])

處理IB資料

In [8]:
IB12_df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'count'], dtype='object')

In [ ]:
IB09_df["datetime"] = pd.to_datetime(IB09_df["datetime"])
IB12_df["datetime"] = pd.to_datetime(IB12_df["datetime"])

In [10]:
IB09_df

,open,high,low,close,volume,count,datetime
datetime,,,,,,,
2024-05-27 06:20:00,2102.1,2102.2,2102.1,2102.2,5,2,2024-05-27 06:20:00
2024-05-27 06:25:00,2102.2,2102.2,2102.2,2102.2,0,0,2024-05-27 06:25:00
2024-05-27 06:30:00,2102.2,2102.2,2102.2,2102.2,0,0,2024-05-27 06:30:00
2024-05-27 06:35:00,2102.2,2102.2,2102.2,2102.2,0,0,2024-05-27 06:35:00
2024-05-27 06:40:00,2102.2,2102.2,2102.2,2102.2,0,0,2024-05-27 06:40:00
...,...,...,...,...,...,...,...
2024-09-19 23:35:00,2246.5,2247.2,2243.8,2246.3,85,39,2024-09-19 23:35:00
2024-09-19 23:40:00,2246.6,2248.7,2245.1,2247.9,67,40,2024-09-19 23:40:00
2024-09-19 23:45:00,2247.7,2249.4,2245.0,2249.4,30,27,2024-09-19 23:45:00
2024-09-19 23:50:00,2248.6,2249.1,2246.2,2248.2,38,31,2024-09-19 23:50:00
2024-09-19 23:55:00,2248.0,2248.2,2245.0,2246.1,143,53,2024-09-19 23:55:00

In [43]:
IB12_df

                 datetime     open     high      low    close  volume
0     2024-09-10 06:00:00  41289.0  41289.0  41289.0  41289.0       1
1     2024-09-10 06:01:00  41289.0  41289.0  41289.0  41289.0       0
2     2024-09-10 06:02:00  41289.0  41289.0  41289.0  41289.0       0
3     2024-09-10 06:03:00  41289.0  41289.0  41289.0  41289.0       0
4     2024-09-10 06:04:00  41289.0  41289.0  41289.0  41289.0       0
...                   ...      ...      ...      ...      ...     ...
50751 2024-10-30 23:55:00  42639.0  42643.0  42629.0  42643.0      86
50752 2024-10-30 23:56:00  42643.0  42643.0  42634.0  42640.0      55
50753 2024-10-30 23:57:00  42642.0  42643.0  42630.0  42636.0      77
50754 2024-10-30 23:58:00  42634.0  42636.0  42626.0  42629.0      77
50755 2024-10-30 23:59:00  42631.0  42633.0  42627.0  42633.0      93

[50756 rows x 6 columns]

In [44]:
# 合併IB
# 移除IB09_df['Datetime']不在15:00:00-04:00:00的row
IB09_df = IB09_df[(IB09_df['datetime'].dt.time >= pd.to_datetime('15:00:00').time()) | (IB09_df['datetime'].dt.time <= pd.to_datetime('04:00:00').time())]
# 移除IB12_df['Datetime']不在15:00:00-04:00:00的row
IB12_df = IB12_df[(IB12_df['datetime'].dt.time >= pd.to_datetime('15:00:00').time()) | (IB12_df['datetime'].dt.time <= pd.to_datetime('04:00:00').time())]
# 合併IB09_df和IB12_df
IB_df = pd.concat([IB09_df, IB12_df])
# IB_df=IB_df.drop("Date", axis="columns")
IB_df.columns

Index(['datetime', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [45]:
IB_df.to_csv("datas/MYM/IB合併_1min_OHLCV-20240701-20241030.csv")

處理SJ資料

In [ ]:
IB_df = pd.read_csv("datas/MYM/IB合併_1min_OHLCV-20240701-20241030.csv")

In [14]:
# 合併SJ
# 移除SJ09_df['ts']不在15:00:00-04:00:00的row
SJ09_df = SJ09_df[(SJ09_df['ts'].dt.time >= pd.to_datetime('15:00:00').time()) | (SJ09_df['ts'].dt.time <= pd.to_datetime('04:00:00').time())]
# 移除SJ12_df['ts']不在15:00:00-04:00:00的row
SJ12_df = SJ12_df[(SJ12_df['ts'].dt.time >= pd.to_datetime('15:00:00').time()) | (SJ12_df['ts'].dt.time <= pd.to_datetime('04:00:00').time())]
# 合併SJ09_df和SJ12_df
SJ_df = pd.concat([SJ09_df, SJ12_df])
SJ_df

,Unnamed: 0,ts,close,volume,bid_price,bid_volume,ask_price,ask_volume,tick_type
0,0,2024-06-28 15:02:00.516999936,39575.0,2.0,39555.0,8.0,39683.0,4.0,1.0
1,1,2024-06-28 15:02:00.516999936,39575.0,9.0,39555.0,8.0,39683.0,4.0,0.0
2,2,2024-06-28 15:02:32.567000064,39576.0,1.0,39577.0,11.0,39579.0,11.0,2.0
3,3,2024-06-28 15:02:32.567000064,39575.0,1.0,39577.0,11.0,39579.0,11.0,2.0
4,4,2024-06-28 15:04:16.691000064,39578.0,1.0,39577.0,10.0,39579.0,11.0,1.0
...,...,...,...,...,...,...,...,...,...
15734,341,2024-10-29 02:54:19.036000000,42686.0,2.0,42681.0,21.0,42686.0,2.0,1.0
15735,342,2024-10-29 03:00:01.184999936,42630.0,1.0,42630.0,1.0,42638.0,21.0,2.0
15736,343,2024-10-29 03:32:34.608999936,42678.0,1.0,42672.0,21.0,42678.0,1.0,1.0
15737,344,2024-10-29 03:55:04.508999936,42630.0,1.0,42630.0,1.0,42637.0,14.0,2.0
15738,345,2024-10-29 03:59:40.823000064,42626.0,3.0,42626.0,10.0,42638.0,3.0,2.0

In [20]:
SJ_df.to_csv("datas/UDF/SJ合併_下載0701-1029的UDF逐筆.csv")

NameError: name 'SJ_df' is not defined

In [54]:
SJ_df=pd.read_csv("datas/UDF/SJ合併_下載0701-1029的UDF逐筆.csv")

將SJ做資料切分

In [55]:
# 將SJ_df的ts欄位以每5分鐘為單位切分,並且統計這5分鐘的逐筆資料總共有多少volume,製作一個欄位叫做"成交口數"，還有另一個欄位叫做"成交筆數"統計這5分鐘共有多少tick,還有一個欄位叫做"主動買入筆數"統計這5分鐘共有多少tick的tick_type=1,還有一個欄位叫做"主動賣出筆數"統計這5分鐘共有多少tick的tick_type=2,還有一個欄位叫做已開盤時間,要表示當下的ts距離15:00:00有幾分鐘

# 假設 SJ_df 已經被讀入為 DataFrame
# 這裡我們首先將 'ts' 欄位轉換為 datetime 格式
SJ_df["ts"] = pd.to_datetime(SJ_df["ts"])

# 設定 'ts' 為索引
SJ_df.set_index("ts", inplace=True)

# 以每 5 分鐘為單位進行重採樣
SJ_df_resampled = SJ_df.resample("1T").agg(
    成交口數=("volume", "sum"),
    成交筆數=("tick_type", "count"),
    主動買入筆數=("tick_type", lambda x: (x == 1).sum()),
    主動賣出筆數=("tick_type", lambda x: (x == 2).sum()),
    UDF_close=("close", "last"),
    
)
# 重置索引，使 ts 成為欄位
SJ_df_resampled.reset_index(inplace=True)
# 顯示結果
print(SJ_df_resampled)

                        ts  成交口數  成交筆數  主動買入筆數  主動賣出筆數  UDF_close
0      2024-06-28 15:02:00  13.0     4       1       2    39575.0
1      2024-06-28 15:03:00   0.0     0       0       0        NaN
2      2024-06-28 15:04:00   1.0     1       1       0    39578.0
3      2024-06-28 15:05:00   1.0     1       0       1    39575.0
4      2024-06-28 15:06:00   0.0     0       0       0        NaN
...                    ...   ...   ...     ...     ...        ...
176453 2024-10-29 03:55:00   1.0     1       0       1    42630.0
176454 2024-10-29 03:56:00   0.0     0       0       0        NaN
176455 2024-10-29 03:57:00   0.0     0       0       0        NaN
176456 2024-10-29 03:58:00   0.0     0       0       0        NaN
176457 2024-10-29 03:59:00   3.0     1       0       1    42626.0

[176458 rows x 6 columns]

In [56]:
SJ_df_resampled = SJ_df_resampled.drop("UDF_close", axis="columns")

In [57]:
SJ_df_resampled = SJ_df_resampled.fillna(0)

SJ_df_resampled

                        ts  成交口數  成交筆數  主動買入筆數  主動賣出筆數
0      2024-06-28 15:02:00  13.0     4       1       2
1      2024-06-28 15:03:00   0.0     0       0       0
2      2024-06-28 15:04:00   1.0     1       1       0
3      2024-06-28 15:05:00   1.0     1       0       1
4      2024-06-28 15:06:00   0.0     0       0       0
...                    ...   ...   ...     ...     ...
176453 2024-10-29 03:55:00   1.0     1       0       1
176454 2024-10-29 03:56:00   0.0     0       0       0
176455 2024-10-29 03:57:00   0.0     0       0       0
176456 2024-10-29 03:58:00   0.0     0       0       0
176457 2024-10-29 03:59:00   3.0     1       0       1

[176458 rows x 5 columns]

In [ ]:
SJ_df_resampled.to_csv("datas/UDF/SJ整理過的1min資料.csv")

In [ ]:
SJ_df_resampled = pd.read_csv("datas/UDF/SJ整理過的1min資料.csv")

In [64]:
SJ_df_resampled

                        ts  成交口數  成交筆數  主動買入筆數  主動賣出筆數
0      2024-06-28 15:02:00  13.0     4       1       2
1      2024-06-28 15:03:00   0.0     0       0       0
2      2024-06-28 15:04:00   1.0     1       1       0
3      2024-06-28 15:05:00   1.0     1       0       1
4      2024-06-28 15:06:00   0.0     0       0       0
...                    ...   ...   ...     ...     ...
176453 2024-10-29 03:55:00   1.0     1       0       1
176454 2024-10-29 03:56:00   0.0     0       0       0
176455 2024-10-29 03:57:00   0.0     0       0       0
176456 2024-10-29 03:58:00   0.0     0       0       0
176457 2024-10-29 03:59:00   3.0     1       0       1

[176458 rows x 5 columns]

In [ ]:
IB_df = IB_df.drop("UDF_close", axis="columns")

IB_df

,Unnamed: 0,datetime,open,high,low,close,volume
0,534,2024-05-27 15:00:00,39553.0,39553.0,39553.0,39553.0,0
1,535,2024-05-27 15:01:00,39553.0,39553.0,39553.0,39553.0,0
2,536,2024-05-27 15:02:00,39553.0,39553.0,39553.0,39553.0,0
3,537,2024-05-27 15:03:00,39553.0,39553.0,39553.0,39553.0,0
4,538,2024-05-27 15:04:00,39553.0,39553.0,39553.0,39553.0,0
...,...,...,...,...,...,...,...
93124,50751,2024-10-30 23:55:00,42639.0,42643.0,42629.0,42643.0,86
93125,50752,2024-10-30 23:56:00,42643.0,42643.0,42634.0,42640.0,55
93126,50753,2024-10-30 23:57:00,42642.0,42643.0,42630.0,42636.0,77
93127,50754,2024-10-30 23:58:00,42634.0,42636.0,42626.0,42629.0,77
93128,50755,2024-10-30 23:59:00,42631.0,42633.0,42627.0,42633.0,93

合併SJ與IB

In [65]:
sj準備合併df = SJ_df_resampled.copy()
ib準備合併df = IB_df.copy()

# 將時間欄位轉換為 datetime 格式
sj準備合併df['ts'] = pd.to_datetime(sj準備合併df['ts'])
ib準備合併df['datetime'] = pd.to_datetime(ib準備合併df['datetime'])

# 將時間欄位設為索引
sj準備合併df.set_index('ts', inplace=True)
ib準備合併df.set_index('datetime', inplace=True)

# 合併 DataFrame，使用外部合併（outer join）
SJ_IB_merged_df = pd.merge(
    ib準備合併df, sj準備合併df, left_index=True, right_index=True, how="outer"
)

SJ_IB_merged_df

,Unnamed: 0,open,high,low,close,volume,成交口數,成交筆數,主動買入筆數,主動賣出筆數
2024-05-27 15:00:00,534.0,39553.0,39553.0,39553.0,39553.0,0.0,NaN,NaN,NaN,NaN
2024-05-27 15:01:00,535.0,39553.0,39553.0,39553.0,39553.0,0.0,NaN,NaN,NaN,NaN
2024-05-27 15:02:00,536.0,39553.0,39553.0,39553.0,39553.0,0.0,NaN,NaN,NaN,NaN
2024-05-27 15:03:00,537.0,39553.0,39553.0,39553.0,39553.0,0.0,NaN,NaN,NaN,NaN
2024-05-27 15:04:00,538.0,39553.0,39553.0,39553.0,39553.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2024-10-30 23:55:00,50751.0,42639.0,42643.0,42629.0,42643.0,86.0,NaN,NaN,NaN,NaN
2024-10-30 23:56:00,50752.0,42643.0,42643.0,42634.0,42640.0,55.0,NaN,NaN,NaN,NaN
2024-10-30 23:57:00,50753.0,42642.0,42643.0,42630.0,42636.0,77.0,NaN,NaN,NaN,NaN
2024-10-30 23:58:00,50754.0,42634.0,42636.0,42626.0,42629.0,77.0,NaN,NaN,NaN,NaN
2024-10-30 23:59:00,50755.0,42631.0,42633.0,42627.0,42633.0,93.0,NaN,NaN,NaN,NaN

In [70]:
# 假設 SJ_df_resampled 已經存在，且 ts 欄位是 datetime 格式
def add_minutes_from_open(df):
    # 將 ts 確保是 datetime 格式
    df["ts"] = pd.to_datetime(df.index)

    # 創建一個函數來計算距離開盤時間的分鐘數
    def minutes_from_open(timestamp):
        # 如果時間在 00:00 到 04:00 之間，表示是隔天的交易，要計算從前一天 15:00 開始
        if timestamp.hour < 4:
            # 調整到前一天的 15:00
            open_time = (timestamp - pd.Timedelta(days=1)).replace(
                hour=15, minute=0, second=0
            )
        else:
            # 當天的 15:00
            open_time = timestamp.replace(hour=15, minute=0, second=0)

        # 計算時間差（分鐘）
        minutes = int((timestamp - open_time).total_seconds() / 60)
        return minutes

    # 添加新欄位
    df["距離開盤時間分鐘數"] = df["ts"].apply(minutes_from_open)

    return df


# 處理資料
SJ_IB_merged_df = add_minutes_from_open(SJ_IB_merged_df)
print(SJ_IB_merged_df)

                     Unnamed: 0     open     high      low    close  volume  \
2024-05-27 15:00:00       534.0  39553.0  39553.0  39553.0  39553.0     0.0
2024-05-27 15:01:00       535.0  39553.0  39553.0  39553.0  39553.0     0.0
2024-05-27 15:02:00       536.0  39553.0  39553.0  39553.0  39553.0     0.0
2024-05-27 15:03:00       537.0  39553.0  39553.0  39553.0  39553.0     0.0
2024-05-27 15:04:00       538.0  39553.0  39553.0  39553.0  39553.0     0.0
...                         ...      ...      ...      ...      ...     ...
2024-10-30 23:55:00     50751.0  42639.0  42643.0  42629.0  42643.0    86.0
2024-10-30 23:56:00     50752.0  42643.0  42643.0  42634.0  42640.0    55.0
2024-10-30 23:57:00     50753.0  42642.0  42643.0  42630.0  42636.0    77.0
2024-10-30 23:58:00     50754.0  42634.0  42636.0  42626.0  42629.0    77.0
2024-10-30 23:59:00     50755.0  42631.0  42633.0  42627.0  42633.0    93.0

                     成交口數  成交筆數  主動買入筆數  主動賣出筆數                  ts  距離開盤時間分鐘數
2024-05-27 15:00:00   NaN   NaN     NaN     NaN 2024-05-27 15:00:00          0
2024-05-27 15:01:00   NaN   NaN     NaN     NaN 2024-05-27 15:01:00          1
2024-05-27 15:02:00   NaN   NaN     NaN     NaN 2024-05-27 15:02:00          2
2024-05-27 15:03:00   NaN   NaN     NaN     NaN 2024-05-27 15:03:00          3
2024-05-27 15:04:00   NaN   NaN     NaN     NaN 2024-05-27 15:04:00          4
...                   ...   ...     ...     ...                 ...        ...
2024-10-30 23:55:00   NaN   NaN     NaN     NaN 2024-10-30 23:55:00        535
2024-10-30 23:56:00   NaN   NaN     NaN     NaN 2024-10-30 23:56:00        536
2024-10-30 23:57:00   NaN   NaN     NaN     NaN 2024-10-30 23:57:00        537
2024-10-30 23:58:00   NaN   NaN     NaN     NaN 2024-10-30 23:58:00        538
2024-10-30 23:59:00   NaN   NaN     NaN     NaN 2024-10-30 23:59:00        539

[202171 rows x 12 columns]

In [ ]:
SJ_IB_merged_df = SJ_IB_merged_df.drop(["Unnamed: 0", "ts"], axis="columns")

In [75]:
SJ_IB_merged_df=SJ_IB_merged_df.fillna(0)
SJ_IB_merged_df

,open,high,low,close,volume,成交口數,成交筆數,主動買入筆數,主動賣出筆數,距離開盤時間分鐘數
2024-05-27 15:00:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,0
2024-05-27 15:01:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,1
2024-05-27 15:02:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,2
2024-05-27 15:03:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,3
2024-05-27 15:04:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...
2024-10-30 23:55:00,42639.0,42643.0,42629.0,42643.0,86.0,0.0,0.0,0.0,0.0,535
2024-10-30 23:56:00,42643.0,42643.0,42634.0,42640.0,55.0,0.0,0.0,0.0,0.0,536
2024-10-30 23:57:00,42642.0,42643.0,42630.0,42636.0,77.0,0.0,0.0,0.0,0.0,537
2024-10-30 23:58:00,42634.0,42636.0,42626.0,42629.0,77.0,0.0,0.0,0.0,0.0,538
2024-10-30 23:59:00,42631.0,42633.0,42627.0,42633.0,93.0,0.0,0.0,0.0,0.0,539

In [65]:
def calculate_metrics(df):
    # 確保數據按時間排序
    df = df.sort_index()

    # 計算高低點幅度
    df["高低點幅"] = (df["high"] - df["low"]) / df["open"]

    # 計算收漲跌幅
    df["收漲跌幅"] = (df["close"] - df["open"]) / df["open"]

    # 計算不同時間週期的收漲跌幅
    periods = {
        "近10分鐘的收漲跌幅": 2,  # 2個5分鐘週期 = 10分鐘
        "近30分鐘的收漲跌幅": 6,  # 6個5分鐘週期 = 30分鐘
        "近60分鐘的收漲跌幅": 12,  # 12個5分鐘週期 = 60分鐘
        "近120分鐘的收漲跌幅": 24,  # 24個5分鐘週期 = 120分鐘
    }

    for col_name, period in periods.items():
        # 使用shift計算前n個週期的close價格
        previous_close = df["close"].shift(period)
        # 計算漲跌幅
        df[col_name] = (df["close"] - previous_close) / previous_close

    # 計算台灣-美國高低掛
    df["台灣-美國高低掛"] = df["UDF_close"] - df["close"]

    return df


# 假設你的DataFrame名為SJ_IB_merged_df
# 使用範例：
merged_df_加入收漲跌幅 = calculate_metrics(SJ_IB_merged_df)
merged_df_加入收漲跌幅

,成交口數,成交筆數,主動買入筆數,主動賣出筆數,UDF_close,距離開盤時間分鐘數,open,high,low,close,volume,高低點幅,收漲跌幅,近10分鐘的收漲跌幅,近30分鐘的收漲跌幅,近60分鐘的收漲跌幅,近120分鐘的收漲跌幅,台灣-美國高低掛
2024-06-28 15:00:00,14.0,5,2,2,39578.0,0,39581.0,39584.0,39574.0,39575.0,112,0.000253,-0.000152,NaN,NaN,NaN,NaN,3.0
2024-06-28 15:05:00,1.0,1,0,1,39575.0,5,39574.0,39589.0,39574.0,39588.0,92,0.000379,0.000354,NaN,NaN,NaN,NaN,-13.0
2024-06-28 15:10:00,3.0,3,0,3,39594.0,10,39590.0,39596.0,39579.0,39582.0,130,0.000429,-0.000202,0.000177,NaN,NaN,NaN,12.0
2024-06-28 15:15:00,6.0,2,0,2,39580.0,15,39580.0,39582.0,39565.0,39570.0,118,0.000430,-0.000253,-0.000455,NaN,NaN,NaN,10.0
2024-06-28 15:20:00,12.0,6,3,3,39570.0,20,39569.0,39571.0,39562.0,39565.0,105,0.000227,-0.000101,-0.000429,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-29 03:35:00,0.0,0,0,0,NaN,755,42668.0,42668.0,42643.0,42652.0,553,0.000586,-0.000375,0.000164,0.000751,0.000422,0.000446,NaN
2024-10-29 03:40:00,0.0,0,0,0,NaN,760,42654.0,42667.0,42650.0,42654.0,386,0.000399,0.000000,-0.000328,0.000680,0.000774,0.000188,NaN
2024-10-29 03:45:00,0.0,0,0,0,NaN,765,42656.0,42658.0,42637.0,42640.0,502,0.000492,-0.000375,-0.000281,0.000610,0.000094,0.000023,NaN
2024-10-29 03:50:00,0.0,0,0,0,NaN,770,42641.0,42641.0,42613.0,42624.0,593,0.000657,-0.000399,-0.000703,-0.000469,-0.000797,-0.000492,NaN
2024-10-29 03:55:00,4.0,2,0,2,42626.0,775,42622.0,42622.0,42585.0,42609.0,1519,0.000868,-0.000305,-0.000727,-0.000844,-0.000235,-0.000985,17.0

In [66]:
def calculate_metrics(df):
    # 確保數據按時間排序
    df = df.sort_index()

    # 計算高低點幅度
    df["高低點幅"] = (df["high"] - df["low"]) / df["open"]

    # 計算收漲跌幅
    df["收漲跌幅"] = (df["close"] - df["open"]) / df["open"]

    # 定義時間週期
    periods = {
        "10分鐘": 2,  # 2個5分鐘週期
        "30分鐘": 6,  # 6個5分鐘週期
        "60分鐘": 12,  # 12個5分鐘週期
        "120分鐘": 24,  # 24個5分鐘週期
    }

    # 計算不同時間週期的收漲跌幅
    for period_name, period in periods.items():
        # 原有的收漲跌幅計算
        previous_close = df["close"].shift(period)
        df[f"近{period_name}的收漲跌幅"] = (
            df["close"] - previous_close
        ) / previous_close

        # 計算高低點幅
        rolling_high = df["high"].rolling(window=period, min_periods=1).max()
        rolling_low = df["low"].rolling(window=period, min_periods=1).min()
        df[f"近{period_name}高低點幅"] = (rolling_high - rolling_low) / df[
            "close"
        ].shift(period)

        # 計算高點到現在的漲跌幅
        df[f"近{period_name}高點到現在的漲跌幅"] = (rolling_high - df["close"]) / df[
            "close"
        ]

        # 計算低點到現在的漲跌幅
        df[f"近{period_name}低點到現在的漲跌幅"] = (rolling_low - df["close"]) / df[
            "close"
        ]

    # 計算台灣-美國高低掛
    df["台灣-美國高低掛"] = df["UDF_close"] - df["close"]

    return df


# 使用範例：
merged_df_加入收漲跌幅和前高低 = calculate_metrics(SJ_IB_merged_df)
merged_df_加入收漲跌幅和前高低

,成交口數,成交筆數,主動買入筆數,主動賣出筆數,UDF_close,距離開盤時間分鐘數,open,high,low,close,...,近30分鐘低點到現在的漲跌幅,近60分鐘的收漲跌幅,近60分鐘高低點幅,近60分鐘高點到現在的漲跌幅,近60分鐘低點到現在的漲跌幅,近120分鐘的收漲跌幅,近120分鐘高低點幅,近120分鐘高點到現在的漲跌幅,近120分鐘低點到現在的漲跌幅,台灣-美國高低掛
2024-06-28 15:00:00,14.0,5,2,2,39578.0,0,39581.0,39584.0,39574.0,39575.0,...,-0.000025,NaN,NaN,0.000227,-0.000025,NaN,NaN,0.000227,-0.000025,3.0
2024-06-28 15:05:00,1.0,1,0,1,39575.0,5,39574.0,39589.0,39574.0,39588.0,...,-0.000354,NaN,NaN,0.000025,-0.000354,NaN,NaN,0.000025,-0.000354,-13.0
2024-06-28 15:10:00,3.0,3,0,3,39594.0,10,39590.0,39596.0,39579.0,39582.0,...,-0.000202,NaN,NaN,0.000354,-0.000202,NaN,NaN,0.000354,-0.000202,12.0
2024-06-28 15:15:00,6.0,2,0,2,39580.0,15,39580.0,39582.0,39565.0,39570.0,...,-0.000126,NaN,NaN,0.000657,-0.000126,NaN,NaN,0.000657,-0.000126,10.0
2024-06-28 15:20:00,12.0,6,3,3,39570.0,20,39569.0,39571.0,39562.0,39565.0,...,-0.000076,NaN,NaN,0.000784,-0.000076,NaN,NaN,0.000784,-0.000076,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-29 03:35:00,0.0,0,0,0,NaN,755,42668.0,42668.0,42643.0,42652.0,...,-0.000891,0.000422,0.001830,0.000469,-0.001360,0.000446,0.001830,0.000469,-0.001360,NaN
2024-10-29 03:40:00,0.0,0,0,0,NaN,760,42654.0,42667.0,42650.0,42654.0,...,-0.000938,0.000774,0.001830,0.000422,-0.001407,0.000188,0.001829,0.000422,-0.001407,NaN
2024-10-29 03:45:00,0.0,0,0,0,NaN,765,42656.0,42658.0,42637.0,42640.0,...,-0.000610,0.000094,0.001829,0.000750,-0.001079,0.000023,0.001829,0.000750,-0.001079,NaN
2024-10-29 03:50:00,0.0,0,0,0,NaN,770,42641.0,42641.0,42613.0,42624.0,...,-0.000258,-0.000797,0.001782,0.001079,-0.000704,-0.000492,0.001829,0.001126,-0.000704,NaN
2024-10-29 03:55:00,4.0,2,0,2,42626.0,775,42622.0,42622.0,42585.0,42609.0,...,-0.000563,-0.000235,0.001994,0.001432,-0.000563,-0.000985,0.002040,0.001479,-0.000563,17.0

In [78]:
import pandas as pd
import numpy as np
from datetime import datetime, time


def calculate_metrics(df):
    # 確保數據按時間排序
    df = df.sort_index()

    # 計算高低點幅度
    df["高低點幅"] = (df["high"] - df["low"]) / df["open"]

    # 計算收漲跌幅
    df["收漲跌幅"] = (df["close"] - df["open"]) / df["open"]

    # 定義時間週期
    periods = {
        "10分鐘": 10,  # 2個5分鐘週期
        "30分鐘": 30,  # 6個5分鐘週期
        "60分鐘": 60,  # 12個5分鐘週期
        "120分鐘": 120,  # 24個5分鐘週期
    }

    # 計算不同時間週期的指標
    for period_name, period in periods.items():
        # 收漲跌幅計算
        previous_close = df["close"].shift(period)
        df[f"近{period_name}的收漲跌幅"] = (
            df["close"] - previous_close
        )*100 / previous_close

        # 計算高低點幅
        rolling_high = df["high"].rolling(window=period, min_periods=1).max()
        rolling_low = df["low"].rolling(window=period, min_periods=1).min()
        df[f"近{period_name}高低點幅"] = (rolling_high - rolling_low)*100 / df[
            "close"
        ].shift(period)

        # 計算高點到現在的漲跌幅
        df[f"近{period_name}高點到現在的漲跌幅"] = (rolling_high - df["close"])*100 / df[
            "close"
        ]

        # 計算低點到現在的漲跌幅
        df[f"近{period_name}低點到現在的漲跌幅"] = (rolling_low - df["close"])*100 / df[
            "close"
        ]

        # 計算前N分鐘成交量總和
        # 使用shift(1)確保不包含當前時間點的成交量
        df[f"前{period_name}成交量總和"] = (
            df["volume"].shift(1).rolling(window=period, min_periods=1).sum()
        )
        df[f"前{period_name}成交量平均"] = (
            df["volume"].shift(1).rolling(window=period, min_periods=1).sum() / period
        )

    # 計算台灣-美國高低掛
    # df["台灣-美國高低掛"] = df["UDF_close"] - df["close"]

    # 計算星期幾
    def get_trading_day(timestamp):
        # 將時間轉換為datetime
        dt = pd.to_datetime(timestamp)
        current_time = dt.time()

        # 如果時間在00:00-04:00之間，使用前一個交易日的星期
        if time(0, 0) <= current_time <= time(4, 0):
            # 往前找到最近的15:00的時間點的星期
            previous_session = dt - pd.Timedelta(hours=dt.hour + 1)  # 確保回到前一天
            previous_session = previous_session.replace(hour=15, minute=0, second=0)
            return previous_session.weekday()
        else:
            # 對於15:00-23:59的時間，使用當天的星期
            return dt.weekday()

    # 添加星期幾欄位 (0=星期一，6=星期日)
    df["星期幾"] = df.index.map(get_trading_day)

    return df


# 使用範例：
merged_df_加入收漲跌幅和前高低含成交量總和和星期 = calculate_metrics(SJ_IB_merged_df)
merged_df_加入收漲跌幅和前高低含成交量總和和星期

,open,high,low,close,volume,成交口數,成交筆數,主動買入筆數,主動賣出筆數,距離開盤時間分鐘數,...,近60分鐘低點到現在的漲跌幅,前60分鐘成交量總和,前60分鐘成交量平均,近120分鐘的收漲跌幅,近120分鐘高低點幅,近120分鐘高點到現在的漲跌幅,近120分鐘低點到現在的漲跌幅,前120分鐘成交量總和,前120分鐘成交量平均,星期幾
2024-05-27 15:00:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,0,...,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,0
2024-05-27 15:01:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,1,...,0.000000,0.0,0.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0
2024-05-27 15:02:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,2,...,0.000000,0.0,0.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0
2024-05-27 15:03:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,3,...,0.000000,0.0,0.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0
2024-05-27 15:04:00,39553.0,39553.0,39553.0,39553.0,0.0,0.0,0.0,0.0,0.0,4,...,0.000000,0.0,0.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-30 23:55:00,42639.0,42643.0,42629.0,42643.0,86.0,0.0,0.0,0.0,0.0,535,...,-0.264991,10976.0,182.933333,0.265695,0.315072,0.037521,-0.276716,28276.0,235.633333,2
2024-10-30 23:56:00,42643.0,42643.0,42634.0,42640.0,55.0,0.0,0.0,0.0,0.0,536,...,-0.257974,10958.0,182.633333,0.230361,0.307931,0.044559,-0.262664,27924.0,232.700000,2
2024-10-30 23:57:00,42642.0,42643.0,42630.0,42636.0,77.0,0.0,0.0,0.0,0.0,537,...,-0.248616,10783.0,179.716667,0.220958,0.307931,0.053945,-0.253307,27419.0,228.491667,2
2024-10-30 23:58:00,42634.0,42636.0,42626.0,42629.0,77.0,0.0,0.0,0.0,0.0,538,...,-0.232236,10752.0,179.200000,0.213926,0.303258,0.070375,-0.232236,26920.0,224.333333,2
2024-10-30 23:59:00,42631.0,42633.0,42627.0,42633.0,93.0,0.0,0.0,0.0,0.0,539,...,-0.241597,10639.0,177.316667,0.183292,0.303137,0.060986,-0.241597,26764.0,223.033333,2

In [79]:
merged_df_加入收漲跌幅和前高低含成交量總和和星期.to_csv("datas/這是1min_MYM的SJ_IB整理的量價資料0628-1028.csv")

In [80]:
merged_df_加入收漲跌幅和前高低含成交量總和和星期 = pd.read_csv(
    "datas/這是1min_MYM的SJ_IB整理的量價資料0628-1028.csv"
)

In [84]:
def calculate_future_metrics(data_df):
    # 確保數據按時間排序
    df = data_df.sort_index().copy()

    # 計算未來價格變動
    # 5分鐘後的漲跌幅
    df["5分鐘後的漲跌幅"] = (df["close"].shift(-5) - df["close"])*10000 / df["close"]

    # 10分鐘後的漲跌幅
    df["10分鐘後的漲跌幅"] = (df["close"].shift(-10) - df["close"]) * 10000 / df["close"]

    # 15分鐘後的漲跌幅
    df["15分鐘後的漲跌幅"] = (df["close"].shift(-15) - df["close"]) * 10000 / df["close"]

    # 10分鐘後的漲跌幅
    df["20分鐘後的漲跌幅"] = (df["close"].shift(-20) - df["close"]) * 10000 / df["close"]
    # 10分鐘後的漲跌幅
    df["30分鐘後的漲跌幅"] = (
        (df["close"].shift(-30) - df["close"]) * 10000 / df["close"]
    )
    
    # # 5分鐘後的震盪程度
    # df["5分鐘後的震盪程度"] = (df["high"].shift(-1) - df["low"].shift(-1))*10000 / df["close"]

    # # 10分鐘後的震盪程度
    # # 使用rolling來計算未來2個時間點的最高價和最低價
    # future_high = (
    #     df["high"][::-1].rolling(window=2, min_periods=1).max()[::-1].shift(-1)
    # )
    # future_low = df["low"][::-1].rolling(window=2, min_periods=1).min()[::-1].shift(-1)
    # df["10分鐘後的震盪程度"] = (future_high - future_low)*10000 / df["close"]

    return df


# 使用範例：
data_df_加入未來結果 = calculate_future_metrics(merged_df_加入收漲跌幅和前高低含成交量總和和星期)
data_df_加入未來結果.iloc[500:505]

,Unnamed: 0,open,high,low,close,volume,成交口數,成交筆數,主動買入筆數,主動賣出筆數,...,近120分鐘高點到現在的漲跌幅,近120分鐘低點到現在的漲跌幅,前120分鐘成交量總和,前120分鐘成交量平均,星期幾,5分鐘後的漲跌幅,10分鐘後的漲跌幅,15分鐘後的漲跌幅,20分鐘後的漲跌幅,30分鐘後的漲跌幅
500,2024-05-27 23:20:00,39585.0,39585.0,39585.0,39585.0,0.0,0.0,0.0,0.0,0.0,...,0.005052,-0.136415,20.0,0.166667,0,-4.547177,-4.547177,-3.284072,-3.536693,-3.536693
501,2024-05-27 23:21:00,39566.0,39566.0,39566.0,39566.0,1.0,0.0,0.0,0.0,0.0,...,0.053076,-0.088460,20.0,0.166667,0,0.252742,0.252742,1.516454,1.263711,1.263711
502,2024-05-27 23:22:00,39567.0,39567.0,39567.0,39567.0,1.0,0.0,0.0,0.0,0.0,...,0.050547,-0.090985,21.0,0.175000,0,0.000000,0.000000,1.263679,1.010943,1.010943
503,2024-05-27 23:23:00,39567.0,39567.0,39567.0,39567.0,0.0,0.0,0.0,0.0,0.0,...,0.050547,-0.090985,22.0,0.183333,0,0.000000,0.000000,1.263679,1.010943,1.010943
504,2024-05-27 23:24:00,39567.0,39567.0,39567.0,39567.0,0.0,0.0,0.0,0.0,0.0,...,0.050547,-0.090985,22.0,0.183333,0,0.000000,1.263679,1.263679,1.010943,1.010943

In [87]:
data_df_加入未來結果.rename(columns={"Unnamed: 0": "datetime"}, inplace=True)

In [88]:
# data_df_加入未來結果.to_csv("datas/tickdata加入答案標籤.csv")
# data_df_加入未來結果.to_csv("datas/tickdata加入答案標籤_2_加入15~20分鐘標籤.csv")
data_df_加入未來結果.to_csv("datas/1min_MYM加入5~30分鐘標籤_萬分位漲跌幅.csv")

In [89]:
data_df_加入未來結果.columns

Index(['datetime', 'open', 'high', 'low', 'close', 'volume', '成交口數', '成交筆數',
       '主動買入筆數', '主動賣出筆數', '距離開盤時間分鐘數', '高低點幅', '收漲跌幅', '近10分鐘的收漲跌幅',
       '近10分鐘高低點幅', '近10分鐘高點到現在的漲跌幅', '近10分鐘低點到現在的漲跌幅', '前10分鐘成交量總和',
       '前10分鐘成交量平均', '近30分鐘的收漲跌幅', '近30分鐘高低點幅', '近30分鐘高點到現在的漲跌幅',
       '近30分鐘低點到現在的漲跌幅', '前30分鐘成交量總和', '前30分鐘成交量平均', '近60分鐘的收漲跌幅', '近60分鐘高低點幅',
       '近60分鐘高點到現在的漲跌幅', '近60分鐘低點到現在的漲跌幅', '前60分鐘成交量總和', '前60分鐘成交量平均',
       '近120分鐘的收漲跌幅', '近120分鐘高低點幅', '近120分鐘高點到現在的漲跌幅', '近120分鐘低點到現在的漲跌幅',
       '前120分鐘成交量總和', '前120分鐘成交量平均', '星期幾', '5分鐘後的漲跌幅', '10分鐘後的漲跌幅',
       '15分鐘後的漲跌幅', '20分鐘後的漲跌幅', '30分鐘後的漲跌幅'],
      dtype='object')

In [20]:
data_df_加入未來結果.rename(columns={"Unnamed: 0": "datetime"}, inplace=True)
data_df_加入未來結果

,datetime,成交口數,成交筆數,主動買入筆數,主動賣出筆數,UDF_close,距離開盤時間分鐘數,open,high,low,...,近120分鐘低點到現在的漲跌幅,前120分鐘成交量總和,台灣-美國高低掛,星期幾,5分鐘後的漲跌幅,10分鐘後的漲跌幅,15分鐘後的漲跌幅,20分鐘後的漲跌幅,5分鐘後的震盪程度,10分鐘後的震盪程度
0,2024-06-28 15:00:00,14.0,5,2,2,39578.0,0,39581.0,39584.0,39574.0,...,-0.002527,NaN,3.0,4,3.284902,1.768793,-1.263424,-2.526848,3.790272,5.559065
1,2024-06-28 15:05:00,1.0,1,0,1,39575.0,5,39574.0,39589.0,39574.0,...,-0.035364,112.0,-13.0,4,-1.515611,-4.546832,-5.809841,-5.304638,4.294231,7.830656
2,2024-06-28 15:10:00,3.0,3,0,3,39594.0,10,39590.0,39596.0,39579.0,...,-0.020211,204.0,12.0,4,-3.031681,-4.294882,-3.789601,-6.063362,4.294882,5.052802
3,2024-06-28 15:15:00,6.0,2,0,2,39580.0,15,39580.0,39582.0,39565.0,...,-0.012636,334.0,10.0,4,-1.263584,-0.758150,-3.032600,-4.548901,2.274450,2.527167
4,2024-06-28 15:20:00,12.0,6,3,3,39570.0,20,39569.0,39571.0,39562.0,...,-0.007582,452.0,5.0,4,0.505497,-1.769240,-3.285732,-1.769240,2.527486,3.285732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14752,2024-10-29 03:35:00,0.0,0,0,0,NaN,755,42668.0,42668.0,42643.0,...,-0.135984,9489.0,NaN,0,0.468911,-2.813467,-6.564757,-10.081591,3.985745,7.033668
14753,2024-10-29 03:40:00,0.0,0,0,0,NaN,760,42654.0,42667.0,42650.0,...,-0.140667,9784.0,NaN,0,-3.282224,-7.033338,-10.550007,NaN,4.923337,10.550007
14754,2024-10-29 03:45:00,0.0,0,0,0,NaN,765,42656.0,42658.0,42637.0,...,-0.107880,9876.0,NaN,0,-3.752345,-7.270169,NaN,NaN,6.566604,13.133208
14755,2024-10-29 03:50:00,0.0,0,0,0,NaN,770,42641.0,42641.0,42613.0,...,-0.070383,10078.0,NaN,0,-3.519144,NaN,NaN,NaN,8.680556,8.680556
14756,2024-10-29 03:55:00,4.0,2,0,2,42626.0,775,42622.0,42622.0,42585.0,...,-0.056326,10396.0,17.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
tick_data_df = merged_df_加入收漲跌幅和前高低含成交量總和和星期.copy()

In [73]:
YF日資料_df=pd.read_csv("datas/MYM/YF_MYM日資料0628-1029.csv")
YF日資料_df

,Date,day_Open,day_High,day_Low,day_Close,day_Adj_Close,day_Volume
0,2024-06-29,39506.0,39818.0,39284.0,39469.0,39469.0,109938
1,2024-07-02,39497.0,39506.0,39490.0,39511.0,39511.0,85797
2,2024-07-03,39650.0,39657.0,39650.0,39688.0,39688.0,77795
3,2024-07-04,39636.0,39679.0,39633.0,39636.0,39636.0,59206
4,2024-07-06,39636.0,39780.0,39489.0,39695.0,39695.0,89008
...,...,...,...,...,...,...,...
81,2024-10-24,43013.0,43066.0,42512.0,42738.0,42738.0,100002
82,2024-10-25,42677.0,42748.0,42409.0,42605.0,42605.0,87433
83,2024-10-26,42631.0,42812.0,42246.0,42321.0,42321.0,99619
84,2024-10-29,42631.0,42637.0,42609.0,42606.0,42606.0,82284
85,2024-10-30,42490.0,42516.0,42489.0,42447.0,42447.0,82284